astroid==1.4.3
colorama==0.3.5
coverage==4.0.3
Flask==0.10.1
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
lazy-object-proxy==1.2.1
MarkupSafe==0.23
pep8==1.6.2
py==1.4.31
#pylint==1.5.2
pytest==2.8.5
pytest-cov==2.2.0
six==1.10.0
Werkzeug==0.11.3
wrapt==1.10.6
